<!DOCTYPE html>
<html>
  <head>
    <script defer src="/static/htmx-1.9.11.min.js"></script>
  </head>
    <body>
        <p>This is a Demo Page on localhost!</p>
        <button hx-get="/json">Click Me</button>
    </body>
</html>